@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:"Poppins"
}

body{
    background:#003060;
}

.canvas{
    background:#aaa;
}

.main{
    margin-top:100px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.contain,.group1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;
    margin:1em 0;
}

.contain{
    height:auto;
    justify-content:space-between;
}

.btn{
    border:none;
    height:4em;
    width:4em;
    border-radius:50%;
    margin:.2em;
    cursor:pointer;
    background:#888;
    color:white;
    font-size:20px;
}
.hover:hover{
    background:#555;
    border:solid #76B947 1px;
}

.on{
    background:#76B947;
}

.disable{
    cursor:not-allowed;
    background:#333;
    border:solid #900 1px;
}
.disable:hover{
    background:#333;
    border:solid #900 1px;
}

.group1 .on:hover{
    background:#549725;
}

.out{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    color:white;
}

.g1{
    color:white;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    width:auto;
}

.g1 span{
    font-weight:bold;
    margin:1em;
}



