@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,600&display=swap");

:root {
  --addRemove-color: white;
  --toolButton: #f06825;
  --gateButton: #2f3c4f;
  --prompt-alert-body: rgba(200, 211, 217, 0.85);
  --prompt-alert-title: rgba(255, 255, 255, 0.85);
  --prompt-alert-cross: #f06825;
  --prompt-alert-text: #3c3c3b;
  --warning: #f06825;
  /* --warning: #d02224; */
  --cursor: grab;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Prompt Box / Alert Box */
/* START */
.promptbox,
.alertbox {
  display: none;
  position: fixed;
  height: 200px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  overflow: hidden;
  background: var(--prompt-alert-body);
  backdrop-filter: blur(3px);
  z-index: 9999;
}
.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  padding: 0 18px;
  background: var(--prompt-alert-title);
  backdrop-filter: blur(6px);
}
.titlebar span {
  color: var(--prompt-alert-text);
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
}
.cross {
  width: 20px;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cross::before,
.cross::after {
  content: "";
  background-color: var(--prompt-alert-cross);
  height: 18px;
  width: 0.23em;
  border-radius: 2px;
  position: absolute;
}
.cross::before {
  transform: rotate(45deg);
}
.cross::after {
  transform: rotate(-45deg);
}
.cross:hover {
  transform: scale(1.1);
}
/* Alert Box */
.alertbox {
  height: 100px;
}
.alertbox .titlebar {
  height: 30%;
}
.alertbox .prompt {
  height: 70%;
}
/* Prompt Box */
.prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
  flex-direction: column;
  height: 75%;
}
.warning {
  height: 15px;
  color: var(--warning);
}
.prompt div:first-child {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.text {
  background-color: white;
  color: var(--prompt-alert-text);
  border-radius: 9px;
  font-weight: bold;
  font-size: medium;
  width: 400px;
  height: 40px;
  border: none;
  padding: 0.5em;
}
.text:focus {
  outline: none;
}
.okbtn {
  background: #1f649f;
}
.okbtn:hover {
  background: #113a5d;
}
/* END */

body {
  width: 100vw;
  height: auto;
  /* height: 100vh; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.bg {
  display: none;
  position: absolute;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 99;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.canvas {
  border-radius: 20px;
  cursor: var(--cursor);
}

.btn {
  width: 5.5em;
  height: 2.5em;
  font-size: 0.85em;
  font-weight: 400;
  color: #cbf3f0;
  text-align: center;
  border-radius: 5px;
  margin: 0.3em;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 70px 0 70px;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toolBtn {
  background: var(--toolButton);
  width: 2.5em;
  border-radius: 100px;
  transition: all 0.1s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.toolBtn:hover {
  width: 8em;
}

.tIcon {
  height: 100%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tIcon img {
  height: 20px;
  width: 2.5em;
}

.toolBtn:hover .tName {
  display: block;
}

.git {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  white-space: nowrap;
  width: 30px;
  margin: 0.3em;
  text-decoration: none;
  color: var(--addRemove-color);
  transition: all 0.4s ease-out;
}

.git:hover {
  width: 145px;
}

.gitIcon {
  height: 30px;
  width: 30px;
  margin: 0 2px;
  transition: transform 0.4s ease-out;
}

.git:hover .gitIcon {
  transform: rotate(-360deg);
}

.gates {
  width: 100%;
  padding: 5px 70px 0 70px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: var(--cursor);
}
.group {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
.gates .btn {
  cursor: var(--cursor);
}
.default {
  background-color: #476076;
  width: 400px;
}

.gateBtn {
  width: fit-content;
  min-width: 4em;
  padding: 0 0.4em;
  background: var(--gateButton);
}
/* add/remove buttons */
/* START */
.add,
.remove {
  width: 30px;
  height: 30px;
  margin: 0.9em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add::after,
.add::before,
.remove::after,
.remove::before {
  content: "";
  background-color: var(--addRemove-color);
  height: 23px;
  width: 5px;
  border-radius: 2px;
  position: absolute;
}
.remove::after,
.remove::before {
  height: 26px;
}
.add::before {
  transform: rotate(90deg);
}
.remove::before {
  transform: rotate(45deg);
}
.remove::after {
  transform: rotate(-45deg);
}
.add:hover::after,
.add:hover::before,
.remove:hover::after,
.remove:hover::before {
  background-color: white;
}
.add:hover,
.remove:hover {
  transform: scale(1.1);
}
/* END */
